<!DOCTYPE html>
<html>
<head>
    <title>Resume Form</title>
</head>
<body>
    <h1>Resume Form</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            {% if request.session.photo_content %}
                <p>Photo uploaded: {{ request.session.photo_name }}</p>
                <button name="action" value="delete_photo">Delete Photo</button>
            {% endif %}
            <button type="submit" name="action" value="preview">Preview</button>
            <button type="submit" name="action" value="pdf">Download PDF</button>
         </form>
</body>
</html>
